body{
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
}
h1{
    font-family: 'Times New Roman', Times, serif;
    color:crimson;
    background-color: tan;
    font-size: 60px;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
}
h2{
    color:darkred;
}
.recipebutton{
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    color: crimson;
    background-color: tan;
    padding: 15px 45px;
    text-align:center;
    text-decoration: none;
}
ol, ul{
    text-align: left;
}